{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,1,0" />
    <script defer src="{% static 'scripts/main.js' %}"></script>
    <title>Cases</title>

    <style>
        .table-container {
            height: calc(100dvh - 18rem);
            overflow: scroll;
        }

        @media screen and (min-width: 768px) {
            .table-container {
                height: calc(100dvh - 15rem)
            }
        }
    </style>
</head>

<body class="bg-gray-200">
    <header id="header" class="sticky top-0 p-5 bg-blue-500">
        <nav class="flex items-center justify-between text-white flex-wrap gap-3">
            <h1 class="font-semibold text-2xl">Online Crime Reporting System</h1>

            <button id="menu-btn"
                class="lg:hidden h-8 focus:border border-white rounded p-1 aspect-square overflow-hidden grid place-content-center">
                <span class="material-symbols-rounded text-4xl">menu</span>
            </button>

            <ul id="nav-links"
                class="hidden flex-col gap-4 text-right w-full lg:flex lg:flex-row lg:w-auto lg:items-center lg:gap-4 text-white text-lg font-semibold no-underline">
                <li><a href="{% url 'dashboard' %}">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </nav>
    </header>

    <div class="p-5 overflow-y-scroll h-full w-full">
        <div class="flex items-center justify-between md:justify-normal md:gap-3 border-b-2 border-b-red-500 pb-2">
            <div class="md:order-2" style="line-height: 0.5rem;">
                <h1 class="text-2xl font-bold">{{request.user.username}}</h1>
                <p class="font-semibold">{{ request.user.first_name }}</p>
            </div>

            <div class="aspect-square w-12 rounded-full overflow-hidden md:order-1">
                {% if agency.logo %}
                <img style="width: 100%; height:100%; object-fit: cover" src="{{ agency.logo.url }}" alt="logo">
                {% else %}
                <img src="{% static 'images/efcc-logo.jpg' %}" alt="logo">
                {% endif %}

            </div>
        </div>

        <div class="flex flex-wrap items-center justify-between gap-4 mt-5 md:justify-normal">
            <h1 class="font-bold text-lg">Cases:</h1>

            <form action="" class="flex flex-grow md:max-w-64 md:order-1">
                <select title="Cases to show" name="casesToShow"
                    class="w-full h-8 rounded-l outline-none border-2 border-blue-500">
                    <option value="ALL" selected>All</option>
                    <option value="ACTIVE">Active</option>
                    <option value="RESOLVED">Resolved</option>
                    <option value="DISMISSED">Dismissed</option>
                </select>

                <button type="submit"
                    class="bg-blue-500 h-8 min-w-16 max-w-20 text-white font-semibold border-2 border-blue-500 rounded-r">Show</button>
            </form>

            <!-- Generate a Case -->

            <!-- <a href="./generate-case-form.html" class="md:order-3 md:ml-auto">
                <button class="bg-blue-500 font-medium text-white px-3 py-1 rounded self-end">Generate Case</button>
            </a> -->

            <form action="" class="relative w-full md:max-w-64 md:order-2">
                <input type="search" name="caseToSearch" placeholder="Search case number"
                    class="h-8 rounded outline-none border-2 border-blue-500 pl-7 w-full ">
                <button type="submit" class="absolute left-1 top-1">
                    <span class="material-symbols-rounded text-gray-600">search</span>
                </button>
            </form>
        </div>


        <div class="table-container mt-4">
            <table class="table border-2 border-gray-400 text-sm whitespace-nowrap">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>Case number</th>
                        <th>Title</th>
                        <th>Date generated</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <!-- Normal case -->
                    {% for case in cases %}
                    {% if not case.isdismissed %}
                    <!-- IF CASE IS NOT DISMISSED, WE CHECK IF IT IS RESOLVED OR NOT AND THEN DISPLAY IT ACCORDINGLY -->
                    {% if not case.isresolved %}
                    <tr>
                        <td>1</td>
                        <td>{{ case.number}}</td>
                        <td class="font-semibold">{{case.report.title}}</td>
                        <td>{{case.time_opened}}</td>
                        <td class="uppercase font-semibold">ACTIVE</td>
                        <td>
                            <a href="{% url 'view_case_details' pk=case.id %}">
                                <button class="bg-blue-500 text-sm font-semibold text-white p-1 rounded">View
                                    details</button>
                            </a>
                        </td>
                    </tr>
                    {% else %}

                    <tr class="text-green-500">
                        <td>1</td>
                        <td>{{ case.number}}</td>
                        <td class="font-semibold">{{case.report.title}}</td>
                        <td>{{case.time_opened}}</td>
                        <td class="uppercase font-semibold">RESOLVED</td>
                        <td>
                            <a href="{% url 'view_case_details' pk=case.id %}">
                                <button class="bg-blue-500 text-sm font-semibold text-white p-1 rounded">View
                                    details</button>
                            </a>
                        </td>
                    </tr>
                    {% endif %}
                    <!-- WE ENDED THE CHECK FOR ISRESOLVED -->
                    <!-- NOW WE PUT THE ACTION FOR A CASE WHERE THE CASE IS DISMISSED -->
                    {% else %}
                    <tr class="text-red-500">
                        <td>1</td>
                        <td>{{ case.number}}</td>
                        <td class="font-semibold">{{case.report.title}}</td>
                        <td>{{case.time_opened}}</td>
                        <td class="text-red-500 font-semibold uppercase">DISMISSED</td>
                        <td>
                            <a href="{% url 'view_case_details' pk=case.id %}">
                                <button class="bg-blue-500 text-sm font-semibold text-white p-1 rounded">View
                                    details</button>
                            </a>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}

                    <!-- A resolved case -->
                    <!-- <tr>
                        <td>2</td>
                        <td>CS/012/12323</td>
                        <td class="font-semibold">Rape Case</td>
                        <td>2024-Feb-14</td>
                        <td class="uppercase text-green-700 font-semibold">RESOLVED</td>
                        <td>
                            <a href="">
                                <button class="bg-green-600 text-sm font-semibold text-white p-1 rounded">View
                                    details</button>
                            </a>
                        </td>
                    </tr> -->

                    <!-- A dismissed case -->

                </tbody>
            </table>
        </div>
    </div>
</body>
<footer class="bg-blue-500 text-white w-full p-2 text-center">
    <p class="text-sm">Developed by</p>
    <p class="font-semibold">Chilaka Kasarachi Jennifer-20/PhD/5879</p>
</footer>

</html>