<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,1,0" />
    <script defer src="../scripts/main.js"></script>
    <title>Evidence</title>
</head>

<body class="bg-gray-200">
    <div>
        <img src="../assets/evidence.jpg" alt="evidence">
    </div>

</body>
<footer class="bg-blue-500 text-white w-full p-2 text-center">
    <p class="text-sm">Developed by</p>
    <p class="font-semibold">Chilaka Kasarachi Jennifer-20/PhD/5879</p>
</footer>

</html>